*{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    
}
body{
    background-color: #f5f5f5;
}
.navbar{
    height: 118px;
    background-color:#f85606;
    position:sticky;
    top:0px;
    
}
.navsec1{
    color:white;
    display: flex;
    justify-content: flex-end;
    margin-right: 100px;
    
}

a{
    padding-right: 17px;
    font-size: 12px;
    margin-top: 8px;
    margin-right: 20px;
    /* margin:8 8 0 8; */
    font-weight: 500;
}
.navsec2{
    display:flex;
    justify-content: space-evenly;
    margin-top: 20px;
    align-items: center;
    margin-left: 100px;
}
.darazlogo{
    background-image: url("/image/logo.png");
    background-size: cover;
    height: 40px;
    width: 128px;
}
.navsearch{
    height: 45px;
    width:50%;
    border-radius: 20%;
     background-color:white;
    display:flex;
    justify-content: space-between;
    
}
.search1{
    width: 100%;
    border: none;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
    padding-left: 20px;
}
.navicon{
    height: 45px;
    width: 45px;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    background-color: #FFE1D2;
    display: flex;
    justify-content: center;
    align-items: center;
}
.navicon i{
    color:#f85606;
    font-size: 18px;
}
.carticon{
    
    padding-top: 15px;
    width: 20%;
    height: 45;
    font-size: 30px;
    color:white;
}
.heroimage
{
    width: 1280px;
    height:350px;
    background-image: url("/image/hero.webp");
    background-size: cover;
    margin-left: 100px;
}

.heroimage2{
    width:1280px;
    height:140px;
    background-image: url("/image/hero2.webp");
    background-size: cover;
    margin-top: 25px;
    margin-left: 100px;
}

.begin{
    height: 40px;
    font-size: 25px;
    color:#424242;
    margin-left: 20px;

}
.cardbegin{
    margin-left: 20px;
    display: flex;
    justify-content: space-between;
    height: 60px;
    background-color: white;
    align-items: center;
    border-bottom: 2px solid gray;
    color:#f57224;
    font-weight: bold;
}
.card {
  margin-left: 20px;
  display: flex;
  flex-wrap: wrap;        
  gap:40px;
  justify-content: space-evenly;
  padding-top:10px;
}

.image1{
    height: 223px;
    width: 223px;
    background-image: url("image/image1.webp");
    background-size: cover;
}
.description {
  width: 223px;
  height: 37px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;  
  -webkit-box-orient: vertical;
  background-color: white;
}
.taka{
    padding-top: 5px;
    width: 223px;
    background-color: white;
}
.image2{
    height: 223px;
    width: 223px;
    background-image: url("image/image2.webp");
    background-size: cover;
}
.image3{
    height: 223px;
    width: 223px;
    background-image: url("image/image3.webp");
    background-size: cover;
}
.image4{
    height: 223px;
    width: 223px;
    background-image: url("image/image4.webp");
    background-size: cover;
}
.image5{
    height: 223px;
    width: 223px;
    background-image: url("image/image5.webp");
    background-size: cover;
}
.image6{
    height: 223px;
    width: 223px;
    background-image: url("image/image6.webp");
    background-size: cover;
}
.image7{
    height: 223px;
    width: 223px;
    background-image: url("image/image7.webp");
    background-size: cover;
}
.image8{
    height: 223px;
    width: 223px;
    background-image: url("image/image8.webp");
    background-size: cover;
}
.image9{
    height: 223px;
    width: 223px;
    background-image: url("image/image9.webp");
    background-size: cover;
}
.image10{
    height: 223px;
    width: 223px;
    background-image: url("image/image10.webp");
    background-size: cover;
}

